<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230580438124-kmb2fd185bachvbn9dha3bq7vj58egct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230580438124-kmb2fd185bachvbn9dha3bq7vj58egct</string>
	<key>API_KEY</key>
	<string>AIzaSyBV_4c2kA-oZk3eYRJC3YmAJx_8FnOCOzE</string>
	<key>GCM_SENDER_ID</key>
	<string>230580438124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>mycat-e490a</string>
	<key>STORAGE_BUCKET</key>
	<string>mycat-e490a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230580438124:ios:f134681f30a9c3a58b0449</string>
</dict>
</plist>